# website-my-frontend-and-backend-api-examples-.gitignore

# CONCOURSE SECRETS
.concourse-secrets.yml

# macOS
.DS_Store

# WINDOWS
*.jpg:Zone.Identifier

# EXTENSION - SFTP SECRETS
.vscode/
sftp.json

# BINARIES
**/bin/my-frontend-and-backend-api-examples

# BINARY USED FOR DOCKER BUILD
**/build/my-frontend-and-backend-api-examples

# TEST COVERAGE
**/test/test_coverage.txt
