@charset "utf-8";
/* ajax-XHR-calls-web-server-to-browser.CSS */

/* #################### WRAPPER AND HEADER ########################### */

#ajax-XHR-calls-web-server-to-browser_wrapper {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* ####################### PICTURE  ################ */

#picture_container {

    width: 80%;
    text-align:center;
    margin:auto;
    padding-top:10px;
    padding-bottom:40px;
    width:70%;
}