@charset "utf-8";
/* send-data-from-web-server-to-backend-server-using-grpc-with-protobuf.CSS */

/* This removes the arrows from input number boxes*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* #################### WRAPPER ###################################### */

#send-data-from-web-server-to-backend-server-using-grpc-with-protobuf_wrapper {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* #################### MAIN CONTAINERS ############################### */

#picture_container {
    padding-top: 0px;
    width: 80%;
    text-align:center;
    margin:auto;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
}

.comment_container {
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width:100%;
    padding-top: 15px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #3f7cd3;
}

#equation_container {
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
    height: 80px;
    width:100%;
}

#process_container {
    padding-top: 40px;
    text-align: center;
    margin: 0 auto;
    height: 80px;
    width:100%;
}

/* #################### BOX CONTAINER ########################### */
/* Will line up you items in a row */

.box_container {
    text-align: center;
    overflow: hidden;
}

.box_items_container{
    height: inherit;
    left: 50%;
    position: relative;
}

.box_item {
    display: inline-block;
    vertical-align: top;
    left: -50%;
    position: relative;
}

/* #################### COMMON ITEMS TO USE ################################### */

/* ------------- COMMON SPACER ITEM -------------------- */

.spacer_item {
    height: 80px; /* with inline-block does nothing */
    width: 20px;
}

/* ------------- COMMON INPUT ITEM -------------------- */

.input_item {
    height: 80px; /* with inline-block does nothing */
    width: 200px;
}

.input_title {
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.input_enter {
    border-width: 3px;
    border-style: solid;
    width: 194px;   /* 200px - 6px */
    height: 40px;
    font-family: 'Roboto Mono', monospace;
}

.input_enter input {
    margin-top: 7px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border: none;
    resize: none;
    outline: none;
}

/* ------------- COMMON OPERATION ITEM -------------------- */

.operation_item {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    height: 80px; /* does nothing */
    width:20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* ------------- COMMON DISPLAY ITEM -------------------- */

.display_item {
    height: 80px; /* does nothing */
    width:200px;
}

.display_title {
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.display_info {
    border-width: 3px;
    border-style: solid;
    width: 194px;   /* 200px - 6px */
    height: 40px;
    font-family: 'Roboto Mono', monospace;
}

.display_info_text {
    margin-top: 7px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

/* ------------- COMMON BUTTON ITEM -------------------- */

.button_item {
    height: 80px; /* does nothing */
    width:200px;
}

.button_title {
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.button_push {
    border-width: 3px;
    border-style: solid;
    width: 194px;   /* 200px - 6px */
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}

.button_push_text {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}

.button_pulse {
    animation: Pulse infinite alternate ease 1s;  
}

@keyframes Pulse {
    0% {
        opacity: 0.2;
      }
    100% {
        opacity: 1;
    }
}

/* #################### COMMENT CONTAINER ########################### */

.comment_container h3 {
    color: #ffffff;
}

.comment_container p {
    color: #ffffff;
}

.comment_container a:visited {
    color: #9ebcff;
}

/* #################### ITEMS IN THE EQUATIONS CONTAINER ########################### */

#operand_1_item {
    background-color: #ffffff;
}

#operand_1_input {
    color: #000000;
}

#operand_1_input_field {
    background-color: #ffffff;
    color: #000000;
}

#operation_1_item {
    background-color: #ffffff;
    color: #000000;
}

#operand_2_item {
    background-color: #ffffff;
}

#operand_2_input {
    color: #000000;
}

#operand_2_input_field {
    background-color: #ffffff;
    color: #000000;
}
#operation_2_item {
    background-color: #ffffff;
    color: #000000;
}

#sum_item {
    background-color: #ffffff;
}

#sum_display {
    background-color: #ffffff;
}

#sum_display_text {
    color: #000000;
}

/* #################### ITEMS IN THE PROCESS CONTAINER ########################### */

#add_button_item {
    background-color: #ffffff;
}

#add_button_push {
    border-color: #000000;
    background-color: #ffffff;
}

#add_button_text {
    color: #000000;
}

#reset_button_item {
    background-color: #ffffff;
}

#reset_button_push {
    border-color: #000000;
    background-color: #ffffff;
}

#reset_button_text {
    color: #000000;
}
