@charset "utf-8";
/* get-data-from-web-server-to-browser-using-ajax-xhr-get-call.css */

/* #### WRAPPER ############################################### */

#get-data-from-web-server-to-browser-using-ajax-xhr-get-call_wrapper {
    margin-top: 10px;
    margin-bottom: 0px;
}

/* #### DATA CONTAINER ######################################## */

#data_container {
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
    height: 80px;
    width:100%;
}

/* ITEMS  ------------------------------------------------ */

#data_item {
    background-color: #ffffff;
}

#data_display {
    background-color: #ffffff;
}

#data_display_text {
    color: #000000;
}

/* #### ERROR CONTAINER ####################################### */

#error_container {
    padding-top: 0px;
    text-align: center;
    margin: 0 auto;
    height: 80px;
    width:100%;
}

/* ITEMS  ------------------------------------------------ */

#error_button_item {
    background-color: #ffffff;
}

#error_button_push {
    border-color: #000000;
    background-color: #ffffff;
}

#error_button_text {
    color: #000000;
    margin-top: 12px;
    font-size: 14px;
}
